/*generals*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --blue: #2a5ee8;
    --violet: #748adb;
    --dark: #23272a;
    --gray: #f6f6f6;
}

h2{
    font-size: 40px;
    padding-top: 40px;
}

 p{
    line-height: 1.5;
    padding-top: 20px;
}

.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.image{
    width: 60%;
}

.image img{
    width: 100%;
    max-width: 100%;
}

.text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wave{
    background-image: url(../img/wave.svg);
    opacity: 0.03;
    height: 100px;
}

.wave-rotate{
    background-image: url(../img/wave.svg);
    opacity: 0.03;
    height: 100px;
    transform: rotate(-180deg);
}

/*containers*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*header*/
header{
    background-color: var(--blue);
    padding: 10px;
}

ul{
    list-style: none;
    padding: 10px;
}

div ul li a{
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 5px 15px;
    border-radius: 16px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: green;
}

h1{
    color: white;
}

/*main-hero*/
#hero div p{
    color: white; 
    padding: 5px; 
}

.button-left{
    background-color: white;
    color: var(--dark);
    padding: 10px;
    border-radius: 16px;
}

.button-right{
    background-color: var(--dark);
    color: white;
    padding: 10px;
    border-radius: 16px;
}

#hero{
    padding: 10px;
    background-color: var(--blue);
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

/*main-place*/
#place{
    padding: 10px;
}

/*main-meet*/
#meet{
    background-color: var(--gray);
    padding: 10px;
}

/*main-community*/
#community{
    padding: 10px;
}

/*main-technology*/
#technology{
    background-color: var(--gray);
    padding: 20px; 
}

.technology-top{
    text-align: center;
}

.technology-bottom{
    display: flex;
    justify-content: center;
}

/*main-cta*/
#cta{
    background-color: var(--gray);
    padding: 10px;
}

#cta div h2{
    text-align: center;
}

.stars{
    display: flex;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#cta .btn button{
    background-color: var(--violet);
    color: white;
}

/*footer*/
footer{
    background-color: var(--dark);
    color: white;
    padding: 10px;
}

.footer-top{
    border-bottom: 1px solid var(--violet);
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

h3, .stars{
    color: var(--violet);
    padding: 10px;
    font-size: 40px;
    width: 100%;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    
}

footer img{
    width: 40px;
    padding-right: 10px;
    margin-top: 10px;
}

.flag{
    display: flex;
    justify-content: flex-start;
    align-items: baseline
}

.lista{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer ul{
    color: var(--violet);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

footer ul li{
    padding: 10px;
}

span{
    margin-left: 25px;
}

.logo{
    width: 100px;
}

.bottone{
    background-color: var(--violet);
    color: white;
}

.fa-brands, .fa-twitter{
    padding: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}



